<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>African bowling</title>
</head>
<body>
    <h1>African Bowling</h1>
    <form method="POST" action="/submit">
        <p>Frame numéro: {{ game.frame }}</p>
        <p>Lancée numéro: {{ game.throw }}</p>
        <p>Nombre de quilles touchées: 
        <input type="number" id="pins_knocked" max="{{ game.rest_pins }}" name="pins_knocked">
        <input type="submit" value="Submit">
        </p> 
        {% if game.rest_pins==0 %}
            <!-- {% if game.throw==1 %}
            {%    game.bonus=3  %}
            {% else game.bonus=2 %}
            {% endif %} -->
            <p> Total des nombres de quilles abattues après les {{ game.bonus }} lancées bonus: 
                <input type="number" id="pins_knock" max="30" name="pins_knock"></p>
        {% endif %}
        <p>Reste de quilles sur ce frame: {{ game.rest_pins }}</p>
        <p>Score sur ce frame: {{ game.frame_score }}</p>
        <hr/>
        <p>Score actuel: {{ game.current_score }}</p>
    </form>
    <form method="POST" action="/init">
        <input type="submit" value="Init game">
    </form>
</body>
</html>